{% extends 'base.jinja' %}

{% block head %}
{% include 'pure-css-responsive-head.jinja' %}
{% include 'google-fonts-lato.jinja' %}
{% endblock %}

{% block body %}
{% include 'menu-horizontal-scrollable.jinja' %}
{% include 'parallax-splash-gradient.jinja' %}
{% include 'card-titles-onleft-content-onright.jinja' %}
{% include 'copyright-footer.jinja' %}
{% endblock %}
